{% extends 'base.html'%}
{% block content %}

    <h1 id="color"><b>hello everyone</b> </h1>
    <a href="{% url 'addData' %}"> <button>add</button></a>
    <h1>hello everyone </h1>
    <a href="{% url 'logout' %}"><button>logout</button></a>

    <!-- <h1>my name is{{name}}</h1> -->
     <!-- <h1>{{info}}</h1> -->

     <!-- {% for i in info%}
     <h1>{{i}}</h1>
     {% endfor %} -->

     <!-- {% for i in info%}
     <h1>{{i.name}}</h1>
     <h1>{{i.age}}</h1>
     {% endfor %}
 -->
     <!-- <table>
        <h1>Dictionary</h1>
        <tr>
            <th>name</th>
            <th>age</th>
        </tr>
        {% for i in info%}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
        </tr>
        {% endfor %}
     </table> -->

     <!-- <table>
        <tr>
            <th>name</th>
            <th>department</th>
            <th>salary</th>
            <th>age</th>
        </tr>
        {% for i in emp %}
        <tr> 
            <td>{{i.name}}</td>
            <td>{{i.department}}</td>
            <td>{{i.salary}}</td>
            <td>{{i.age}}</td>
        </tr>
        {% endfor %}
     </table> -->

     <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>department</th>
            <th>salary</th>
            <th>age</th>
            <th>action</th>
        </tr>
        {% for i in emp %}
        <tr> 
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.department}}</td>
            <td>{{i.salary}}</td>
            <td>{{i.age}}</td>
            <td><a href="{% url 'updatedata' i.id %}"><button>update</button></a></td>
        </tr>
        {% endfor %}
     </table>
     {% endblock %}

