
        #color{
            background-color: aquamarine;
        }
        #c{
            color:rgb(168, 16, 80);
            font-size: larger;
            text-align: center;
            background-color: rgb(110, 61, 0);
        }
    