{% extends 'base.html' %}

{% block content %}

<!-- <h1 id="c">Register new employee</h1> -->
<h1>Register new Employee</h1>

<form method="post">
    {% csrf_token %}
    <label >name: </label><input type="text" name="name" value={{emp.name}} required><br>
    <label >department: </label><input type="text" name="department" value={{emp.department}} required><br>
    <label >salary: </label><input type="number" name="salary" value={{emp.salary}} required><br>
    <label >age: </label><input type="number" name="age" value={{emp.age}}  required><br>
    <button type="submit">update employee</button>

</form>

{% endblock %}